
#list {
	width:50%;
	height:100%;
	margin:10% auto 10% auto;
	padding:10px;
	float:left;
	clear:both;
	border:2px solid red;
}

#list button {
	width:50%;
	height:80px;
	display:block;
	margin:10px auto;
	padding:2px;
	background-color:green;
	opacity:10;
	filter:alpha(opacity=50);
	border:1px solid green;
	border-radius:10px;
}

#map {
	width:50%;
	height:100%;
	border:2px solid red;
	margin:0px;
	padding:0px;
}
